$color-primary: #FF6464;
$color-primary-hover: #be3838;
$color-secondry: #00A8CC;
$color-dark: #21243D;
$color-light: #8695A4;

$content-width: 856px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;  
