%transition {
    transition: all .3s ease-out;
}

%font-family {
    font-family: 'Heebo', Verdana, sans-serif;
}

%custom-scroll {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 1px grey;
    }
    &::-webkit-scrollbar-thumb {
      background: #8da0a7;
    }
  }
